.centerText{
	text-align:center;
}

.pagination{
	border:1px;
	border-style: solid;
	border-color:#4477BC;
	padding:4px;
	padding-left:8px; 
	padding-right:8px;
	margin-right: 1px;
	margin-left:1px;
}

#profpic {
  max-width: 60%;
  display:block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}

.boxedColor{
	background-color: #88958D;
	padding:1%;
	display:block;
}

.profBoxes{
	background-color: #DDD8C4;
	margin-bottom: 1%;
	display:block;
	padding:1%;
}

.profLonelyParagraph{
	background-color: #DDD8C4;
	margin-bottom: 1%;
	display:block;
	padding:1%;
}

.headerColor{
	background-color: #DDD8C4;
	width: 60%;
	display:block;
	margin-right: auto;
    margin-left: auto;
}

.boxMargin{
	margin:1%;
}

.teamPortfolio{
	margin-left: auto;
	display:block;
	margin-bottom: 1%;
}

.kitePortfolio{
	margin-right: auto;
	display:block;
	margin-bottom: 1%;
}

.kiteImage{
	max-width: 48.5%;
	display:block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#siteIndex{
	text-align: center;
}

.whiteBackground{
	background-color: white;
}



/*@media screen and (min-width: 992px) {
	#profpics {
		max-width: 20%;
		display:block;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
}*/