body{
	display:block;
	background-image: url(../img/grey.png);
}

#sideBarProfpic {
  max-width: 25%;
  display: block;
  float: left;
  margin-bottom: 1%;

  /*border-radius: 50%;*/
  /*border:solid;
  border-color: #000000;
  border-width: 1%;
  float: left;*/
}
.navbarContentContainer{
	width:65%;

vertical-align: top;
	margin:0 auto;
}



.navBar{
	background-color: rgba(1,1,1,.5);
}

.navbarText{
	font-size: 24px;
	color: black;
	margin: 2%;

}

.navbarButtonsContainer{
	margin: 0 auto;
}

.navigationButtons{
	/*float: left;*/
	font-size: 25px;
	color: black;

}

.nameHeader{

	color:black
}

.naviagtionStyle{
	color: black;
}

.navbarContainer{
	background-color: rgba(1,1,1,.5);
}

/*.profBoxes{
    /*background-color: #DDD8C4;
    background-color: #787878;
    margin-bottom: 1%;
    display:block;
    /*padding:1%;
    border-radius: 25px;

    border:solid;
    border-color: #000000;
    border-width: 1%;
    padding:1%;
}*/

.profBoxes{
	/*background-color: #DDD8C4;*/
	background-color: rgba(1,1,1,.5);
	margin-bottom: 1%;
	display:block;
	/*padding:1%;*/
	border-radius: 3px;
	overflow: none;
  	border-width: 1%;
  	padding:2%;
  	height:150px;
  	

}

#TeamProfile{
	width:45%;
	float: left;
}

#KiteTeamProfile{
	width:54%;
	float: right;
}

#EcommerceProfile{
	width:54%;

	float: left;
}

#JSfiddleCloneProfile{
	width:45%;
	float: right;
}

footer{
	text-align: center;
	background-color: rgba(1,1,1,.5);
}