.noMargin{
	margin:0px;
}

.zero_topBottom_Auto_leftRight{
	margin-top: 0px;
	margin-bottom: 0px; 
	margin-left: auto;
	margin-right: auto;
}

.solid_Black_Border_1PX{
	border: solid;
	border-color: black;
	border-width: 1px;
}