#nav ul li a,
#nav ul ul a,
#nav ul ul a:visited,
#nav ul ul a.drop,
#nav ul ul a.drop:visited {
	background: #f0f0f0;
}

body {
	/*background-color: #ebebeb;*/
	background-image: url("../images/paisley.png");
}

.quote p {
	color: #344a4f;
	font-size: 32px;
	font-weight: bold;
	font-family:'ABeeZee', serif;
	text-shadow: 1px 1px 1px #ebebeb;
}

.quote {
	margin-bottom: 25px;
}

h1 {
	color: #344a4f;
	font-size: 32px;
	font-weight: bold;
	font-family:'ABeeZee', serif;
	text-shadow: 1px 1px 1px #ebebeb;
}

#homeHeader {
	margin-bottom: 25px;
	text-align: center;
}

/*two pictures on home page*/
#leftHomePic {
	width: 100%;
	border-radius: 2em;
	margin-bottom: 10px;
}
#rightHomePic {
	width: 100%;
	border-radius: 2em;
	margin-bottom: 10px;
}

#homeText {
	padding: 15px;
}

/*sets text box size on home page for lg and md devices*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	#homeText {
		height: 441px;
	}
}
@media screen and (min-width: 1200px) {
	#homeText {
		height: 540px;
	}
}

/*images on sim/diff pages*/
/*lg and md*/
@media screen and (min-width: 992px) {
	.subject {
		width: 100%;
		border-top-left-radius: 0.5em;
		border-bottom-left-radius: 0.5em;
	}
}
/*sm and xs*/
@media screen and (max-width: 992px) {
	.subject {
		width: 100%;
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
	}
}

/*text boxes on sim/diff pages*/
/*lg*/
@media screen and (min-width: 1200px) {
	.subjectText {
		padding: 15px;
		margin-bottom: 25px;
		border-top-right-radius: 0.5em;
		border-bottom-right-radius: 0.5em;
		height: 190px;
	}
}
/*md*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.subjectText {
		padding: 15px;
		margin-bottom: 25px;
		border-top-right-radius: 0.5em;
		border-bottom-right-radius: 0.5em;
		height: 157px;
	}
}
/*sm and xs*/
@media screen and (max-width: 992px) {
	.subjectText {
		padding: 15px;
		margin-bottom: 25px;
		border-bottom-right-radius: 0.5em;
		border-bottom-left-radius: 0.5em;
	}
	.subjectText .last {
		padding-left: 0px;
	}
}

/*black and white image won't display when page loads, without this you can briefly see it*/
.bw {
	display: none;
}

/*@media screen and (max-width: 992px) {
	#smallColors {
		display:none;
	}
}*/
/*@media screen and (min-width: 992px) {
	#smallColors {
		/*display: inline;
	}
}*/

.subjectText.blue {
	background-color: #d2dae0;
}

.subjectText.green {
	background-color: #deeeda;
}

.subjectText.tan {
	background-color: #ffe5ca;
}

.subjectText.lightGreen {
	background-color: #cfd7c4;
}

.subjectText.teal {
	background-color: #c6d5d3;
}

.subjectText.red {
	background-color: #684C4C;
}


.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:last-child) {
  padding: 0;
}

#siteIndex {
	padding: 35px;
}




/*Seth's css */

/*images on sim/diff pages*/
/*lg and md*/
@media screen and (min-width: 992px) {
	.subjectReversed {
		width: 100%;
		border-top-right-radius: 0.5em;
		border-bottom-right-radius: 0.5em;
	}
}
/*sm and xs*/
@media screen and (max-width: 992px) {
	.subjectReversed {
		width: 100%;
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
	}
}

/*text boxes on sim/diff pages*/
/*lg*/
@media screen and (min-width: 1200px) {
	.subjectTextReversed {
		padding: 15px;
		margin-bottom: 25px;
		border-top-left-radius: 0.5em;
		border-bottom-left-radius: 0.5em;
		height: 190px;
	}
}
/*md*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.subjectTextReversed {
		padding: 15px;
		margin-bottom: 25px;
		border-top-left-radius: 0.5em;
		border-bottom-left-radius: 0.5em;
		height: 157px;
	}
}
/*sm and xs*/
@media screen and (max-width: 992px) {
	.subjectTextReversed {
		padding: 15px;
		margin-bottom: 25px;
		border-bottom-right-radius: 0.5em;
		border-bottom-left-radius: 0.5em;
	}
	.subjectTextReversed .last {
		padding-left: 0px;
	}
}
.rowLine{
	margin-bottom: 
}
.saveOverflow{
	overflow: auto;
}
.subjectText.hobbies {
	background-color: #deeeda;
}

.row.no-gutterReversed [class*='col-']:not(:last-child) {
  padding: 0;
  padding-right: 0;
  padding-left: 0;
}

.sethParagraph{
	text-align: center;
}
.beckyParagraph{
	text-align: center;
}
.bothParagraph{
	text-align: center;
	
}

/*Seth's css */